/* GENEREL */
body {
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

/* HEADER */
.header {
  max-width: 100%;
  padding: 24px 141px;
  background-color: #E7E9FC;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* MAIN */


/* HERO-SECTION */
.hero-section {
  max-width: 100%;
  background-color: #2E2F42;
  text-align: center;
  padding: 188px 472px;
}

h1.hero-title{
  /* max-width: 496px; */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 48px;
  text-align: center;
}

.order-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

/* FEATURES-SECTION */
.features-section {
  max-width: 100%;
  background-color:#FFFFFF;
  padding: 120px 156px;
}

h2.features-title {
  opacity: 0;
}

.features-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 32px;
}

.features-content {
  text-align: left;
}

h3.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding-bottom: 8px;
}

.feature-item {
  text-align: left;
  list-style: none;
}

p.feature-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TEAM-SECTION */
.team-section {
  max-width: 100%;
  background-color: #F4F4FD;
  padding: 120px 156px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.team-list {
  background-color: #FFFFFF;
}

img.team-photo {
  max-width: 100%;
}

.team-details {
  padding: 32px 16px;
}

h3.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding-bottom: 8px;
}

p.team-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* PORTFOLIO */
.portfolio {
  max-width: 100%;
  background-color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 120px;
}

h2.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}

.portfolio-item {
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-wrapper-img-content {
  max-width: 360px;
  height: auto;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #E7E9FC;
  margin: 0 auto;
}

.portfolio-img {
  max-width: 360px;
  min-height: 120px;
}

img.portfolio-photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-img:focus {
  outline: none;
}

.portfolio-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  text-align: left;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 40px 0;
  text-align: left;
}

.log {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  max-width: 264px;
  text-align: left;
}

.log-text {
  color: #f4f4fd;
}

.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0;
  text-transform: lowercase;
  margin-top: 16px;
}
